<header>
  <nav class="bg-cyan-900 w-full z-20">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">

      <%= link_to root_path, class: "flex items-center space-x-3 rtl:space-x-reverse" do %>
        <span class="self-center text-2xl font-semibold whitespace-nowrap text-white"><%= t('header.title_logo') %></span>
      <% end %>

      <div class="items-center justify-between w-full md:flex md:w-auto md:order-1" id="navbar-sticky">
        <ul class="flex flex-col p-4 md:p-0 mt-4 font-semibold md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0">
          <li>
            <%= link_to t('header.post_index'), posts_path, class: "inline-block py-2 px-3 text-white hover:border-b border-white md:p-0" %>
          </li>
          <li>
            <%= link_to t('header.post_new'), new_post_path, class: "inline-block py-2 px-3 text-white hover:border-b border-white md:p-0" %>
          </li>
          <li>
            <div class="dropdown">
              <div tabindex="0" role="button" class="flex items-center  py-2 px-3 text-white hover:border-b border-white md:p-0"><%= t('header.my_page') %><svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/></svg></div>
              <ul tabindex="0" class="dropdown-content menu bg-base-100 z-[1] w-52 p-2 shadow">
                <li>
                  <%= link_to t('header.profile'), mypage_path %>
                </li>
                <li>
                  <%= link_to "自分の投稿", my_posts_path %>
                </li>
                <li>
                  <%= link_to "いいねした投稿", "#" %>
                </li>
                <li>
                  <%= link_to t('header.logout'), logout_path, data: { turbo_method: :delete } %>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
