<% content_for(:title, t('.title')) %>
<div class="container mx-auto pt-5 min-h-screen">
  <div class="mb-3 mt-4">
    <div class="w-full lg:w-8/12 lg:mx-auto">
      <h1 class="text-2xl mb-4 text-center"><%= t('.title') %></h1>

      <div class="bg-white shadow-md rounded-lg mb-5 mx-auto w-2/3">
        <div class="p-4">
          <div class="flex justify-between items-center mb-4">
            <div class="flex-grow flex justify-center">
              <%= image_tag current_user.user_icon_url, class: 'rounded-full border w-20 h-20 object-cover' %>
            </div>
            <%= link_to '編集', edit_mypage_path, class: "btn bg-blue-500 text-white hover:bg-blue-600" %>
          </div>
          <div class="flex flex-col items-center mb-4">
            <p class="mb-1 text-center">ニックネーム： <span class="ml-2"><%= current_user.nick_name %></span></p>
            <p class="mb-1 text-center">メールアドレス： <span class="ml-2"><%= current_user.email %></span></p>
          </div>
        </div>
      </div>
      <div class="mx-auto">
        <div class="p-4 flex flex-col justify-center items-center">
          <div class='text-center'>
            <%= link_to '自分の投稿を見る', my_posts_posts_path, class: "text-gray-500 md:hover:text-blue-700" %>
          </div>
          <div class='text-center mt-4'>
            <%= link_to 'いいねした投稿を見る', likes_posts_path, class: "text-gray-500 md:hover:text-blue-700" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>