<%= form_with model: @post, class: "pt-6 pb-8" do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="mb-4">
    <%= f.label :title, I18n.t('activerecord.attributes.post.title'), class: "block text-gray-700 text-sm font-bold mb-2" %>
    <%= f.text_area :title, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline", rows: "1" %>
  </div>

  <div class="mb-4">
    <%= f.label :content, I18n.t('activerecord.attributes.post.content'), class: "block text-gray-700 text-sm font-bold mb-2" %>
    <%= f.text_area :content, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline", rows: "4" %>
  </div>

  <div class="mb-4">
    <%= f.label :event_url, I18n.t('activerecord.attributes.post.event_url'), class: "block text-gray-700 text-sm font-bold mb-2" %>
    <%= f.text_field :event_url, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>

  <div class="mb-4">
    <%= f.label :prefecture_id, I18n.t('activerecord.attributes.post.prefecture_id'), class: "block text-gray-700 text-sm font-bold mb-2" %>
    <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, { prompt: '選択してください' }, { class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" }) %>
  </div>

  <div class="flex">
    <div class="mr-4">
      <%= f.label :start_date, I18n.t('activerecord.attributes.post.start_date'), class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= f.date_field :start_date, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
    </div>

    <div class="mb-4">
      <%= f.label :end_date, I18n.t('activerecord.attributes.post.end_date'), class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= f.date_field :end_date, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
    </div>
  </div>

  <div class="mb-4">
    <%= f.label :post_image, I18n.t('activerecord.attributes.post.post_image'), class: "block text-gray-700 text-sm font-bold mb-2" %>
    <%= f.file_field :post_image, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline", accept: 'image/*' %>
    <%= f.hidden_field :post_image_cache %>
  </div>

  <div class="flex items-center justify-between">
    <%= f.submit nil, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
  </div>


<% end %>
