<% content_for(:title, @post.title) %>
<div class="max-w-2xl mx-auto p-5 min-h-screen">
  <div class="flex flex-col mb-20">
  <!-- 戻るリンク -->
    <div class="mb-2">
      <%= link_to '<< 一覧へ戻る', posts_path, class: 'text-gray-600 hover:underline' %>
    </div>

    <!-- 投稿写真 -->
    <div class="flex mb-10 mx-auto px-4 mt-5">
      <div class="bg-black shadow-lg p-4 flex justify-center items-center max-w-full max-h-full" style="max-width: 600px; max-height: 400px;">
        <div class="bg-white shadow-lg overflow-hidden p-5 flex justify-center items-center" style="width: 100%; height: 100%;">
          <%= image_tag @post.post_image_url, style: "max-width: 100%; max-height: 100%; width: auto; height: auto;" %>
        </div>
      </div>
    </div>

    <!-- 投稿情報カード -->
    <div class="flex-1 mx-20">
      <div class="bg-white shadow-lg p-4 text-center">
        <h1 class="text-2xl border-b-2 border-neutral-600 font-bold pb-2 mb-2"><%= @post.title %></h1>
        <div class="space-x-2 text-sm text-gray-600 mt-2">
          <% if @post.start_date.present? && @post.end_date.present? %>
            <%= "#{@post.start_date} 〜 #{@post.end_date}" %>
          <% elsif @post.start_date.present? && @post.end_date.nil? %>
            <%= "#{@post.start_date} 〜" %>
          <% elsif @post.start_date.nil? && @post.end_date.present? %>
            <%= "〜 #{@post.end_date}" %>
          <% end %>
        </div>
        <div class="space-x-2 text-sm text-gray-600 mt-1">
          <% if @post.prefecture.nil? || @post.prefecture_id == 1 %>
            <%= @post.user.nick_name %>
          <% else %>
            <%= "#{@post.user.nick_name} | #{@post.prefecture.name}" %>
          <% end %>
        </div>
        <div class="space-x-2 text-gray-600 mt-1">
          <%= @post.content %>
        </div>
        <div class="space-x-2 text-sm text-gray-600 mt-2">
          <%= link_to @post.event_url, @post.event_url, target: "_blank", class: "hover:text-blue-600 break-all" %>
        </div>
      </div>
      <% if current_user && current_user.own?(@post) %>
        <div class="flex space-x-2 ml-auto justify-end p-4 mt-2">
          <%= link_to "Xで共有", "https://twitter.com/share?url=https://artspotly.com&text=投稿しました！%0a%0a%23ArtSpotly%0a", target: "_blank", class: "bg-black text-white py-1 px-3 rounded-lg shadow hover:bg-gray-800 transition duration-300" %>

          <%= link_to edit_post_path(@post), id: "button-edit-#{@post.id}", class: "text-gray-600 hover:text-blue-500" do %>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6"><path d="M21.731 2.269a2.625 2.625 0 0 0-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 0 0 0-3.712ZM19.513 8.199l-3.712-3.712-8.4 8.4a5.25 5.25 0 0 0-1.32 2.214l-.8 2.685a.75.75 0 0 0 .933.933l2.685-.8a5.25 5.25 0 0 0 2.214-1.32l8.4-8.4Z" /><path d="M5.25 5.25a3 3 0 0 0-3 3v10.5a3 3 0 0 0 3 3h10.5a3 3 0 0 0 3-3V13.5a.75.75 0 0 0-1.5 0v5.25a1.5 1.5 0 0 1-1.5 1.5H5.25a1.5 1.5 0 0 1-1.5-1.5V8.25a1.5 1.5 0 0 1 1.5-1.5h5.25a.75.75 0 0 0 0-1.5H5.25Z" />
            </svg>
          <% end %>
          <%= link_to post_path(@post), id: "button-delete-#{@post.id}", data: { turbo_method: :delete, turbo_confirm: t('defaults.delete_confirm') }, class: "text-gray-600 hover:text-red-500" do %>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6"><path fill-rule="evenodd" d="M16.5 4.478v.227a48.816 48.816 0 0 1 3.878.512.75.75 0 1 1-.256 1.478l-.209-.035-1.005 13.07a3 3 0 0 1-2.991 2.77H8.084a3 3 0 0 1-2.991-2.77L4.087 6.66l-.209.035a.75.75 0 0 1-.256-1.478A48.567 48.567 0 0 1 7.5 4.705v-.227c0-1.564 1.213-2.9 2.816-2.951a52.662 52.662 0 0 1 3.369 0c1.603.051 2.815 1.387 2.815 2.951Zm-6.136-1.452a51.196 51.196 0 0 1 3.273 0C14.39 3.05 15 3.684 15 4.478v.113a49.488 49.488 0 0 0-6 0v-.113c0-.794.609-1.428 1.364-1.452Zm-.355 5.945a.75.75 0 1 0-1.5.058l.347 9a.75.75 0 1 0 1.499-.058l-.346-9Zm5.48.058a.75.75 0 1 0-1.498-.058l-.347 9a.75.75 0 0 0 1.5.058l.345-9Z" clip-rule="evenodd" />
            </svg>
          <% end %>

        </div>
      <% end %>

    </div>
  </div>
</div>