<% content_for(:title, t('.title')) %>
<div class="flex flex-col justify-start min-h-screen">
  <div class="max-w-full mx-auto px-4 mt-10 mb-20">
    <div class="flex flex-col">
      <div class="w-full mx-auto">
        <div class="card bg-base-100 w-96 max-w-full shadow-xl mt-5 p-4">
          <h2 class="card-title flex justify-center"><%= t("user_sessions.new.title") %></h2>
          <%= form_with url: login_path, class: "px-4 md:px-8 pt-6 pb-2 max-w-lg" do |f| %>

            <div class="mb-4">
              <%= f.label :email, class: "block text-gray-700 text-sm", for: "nick_name" %>
              <%= f.text_field :email, id: "email", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight", placeholder: " ", required: true %>
            </div>

            <div class="mb-6">
              <%= f.label :password, class: "block text-gray-700 text-sm", for: "nick_name" %>
              <%= f.password_field :password, id: "password", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight", placeholder: " ", required: true %>
            </div>

            <div class="flex items-center justify-end">
              <%= f.submit t('helpers.submit.login'), class: "btn bg-slate-700 hover:bg-slate-500 text-white" %>
            </div>

            <div class="text-center text-gray-500 mt-6 text-xs">
              <%= link_to t('.to_register_page'), new_user_path, class: "hover:text-blue-700" %>
              <span>/</span>
              <%= link_to t('.password_forget'), new_password_reset_path, class: "hover:text-blue-700" %>
            </div>
          <% end %>

        </div>

        <div class="divider my-5">OR</div>

        <div class="flex justify-center items-center md:my-auto">
          <%= link_to auth_at_provider_path(provider: :google), class: "btn bg-white" do %>
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" viewBox="0 0 48 48" class="w-6 h-6">
              <path fill="#fbc02d" d="M43.611,20.083H42V20H24v8h11.303c-1.649,4.657-6.08,8-11.303,8c-6.627,0-12-5.373-12-12	s5.373-12,12-12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C12.955,4,4,12.955,4,24s8.955,20,20,20	s20-8.955,20-20C44,22.659,43.862,21.35,43.611,20.083z"></path>
              <path fill="#e53935" d="M6.306,14.691l6.571,4.819C14.655,15.108,18.961,12,24,12c3.059,0,5.842,1.154,7.961,3.039	l5.657-5.657C34.046,6.053,29.268,4,24,4C16.318,4,9.656,8.337,6.306,14.691z"></path>
              <path fill="#4caf50" d="M24,44c5.166,0,9.86-1.977,13.409-5.192l-6.19-5.238C29.211,35.091,26.715,36,24,36	c-5.202,0-9.619-3.317-11.283-7.946l-6.522,5.025C9.505,39.556,16.227,44,24,44z"></path>
              <path fill="#1565c0" d="M43.611,20.083L43.595,20L42,20H24v8h11.303c-0.792,2.237-2.231,4.166-4.087,5.571	c0.001-0.001,0.002-0.001,0.003-0.002l6.19,5.238C36.971,39.205,44,34,44,24C44,22.659,43.862,21.35,43.611,20.083z"></path>
            </svg>
            Googleでログイン
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
